<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>VUE JS 101</title>

        <!-- vue cdn -->
        <script src="https://unpkg.com/vue@next"></script>

        <!-- style -->
        <style>
            .box {
                padding: 100px 0;
                width: 400px;
                text-align: center;
                background: #ddd;
                margin: 20px;
                display: inline-block;
            }
        </style>
    </head>

    <body>
        <h1>salam from vue :)</h1>

        <!-- vue component inject -->
        <div id="app">
            <div>
                <div v-if="showBooks">
                    <ul>
                        <li v-for="book in books">
                            <h3>{{book.title}}</h3>
                            <p>{{book.author}}</p>
                        </li>
                    </ul>
                </div>

                <button @click="toggleShowBooks">
                    <span v-if="showBooks"> Hide books </span>
                    <span v-else> Show books </span>
                </button>
            </div>
            <div>
                <!-- mouse events -->
                <!-- we are using shorthand @ instead of using v-on: -->
                <div class="box" @mouseover="handleEvent($event, 9)">
                    <!-- $event means we have a bydefault argument first then we have an additional arguments, otherwise it will show errors -->
                    Mouse over (enter)
                </div>
                <div class="box" @mouseleave="handleEvent">Mouse leave</div>
                <div class="box" @dblclick="handleEvent">Double click</div>
                <div class="box" @mousemove="handleMousemove">
                    Position (X, Y) ({{x}}, {{y}})
                </div>
            </div>
        </div>

        <script src="root.js"></script>
    </body>
</html>
